@import "variable.css";
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

html,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body{
  background-color: var(--royalPurple);
}
h1{
  font-size: var(--h1);
  text-align: center;
  font-family: cursive;
}
h2{
  font-family: ;
}
.button{
  height: var(--buttonHeight);
  width: var(--buttonWidth);
}
.allButton{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-container{
  margin-top: var(--containerMarginTop);
  display: flex;
  flex-wrap: wrap;
}
