@import "variable.css";
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}
h1 {
  font-size: var(--h1);
  text-align: center;
  font-family: cursive;
  font-style: italic;
}
h2 {
  font-family: ;
}
.button {
  height: var(--buttonHeight);
  width: var(--buttonWidth);
  font-size: var(--buttonFontSize);
  border-radius: 2rem;
  background-color: var(--gold);
}
.button1 {
  margin-left: 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
}
#allButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}
.card-container {
  margin-top: var(--containerMarginTop);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#lefamily {
  align-items: center;
  display: flex;
  justify-content: center;
}
.img {
  max-height: 20rem;
  max-width: 80%;
  background-color: black;
  background-clip: padding-box;
  border: 0.1rem solid red;
  padding: 1rem;
  margin-top: 1rem;
}
.card {
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  color: var(--white);
  margin: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.5rem;
  width: 17vw;
  height: 40rem;
}
h2 {
  font-size: 2rem;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.card:hover {
  transform: scale(1.2) translateY(-3rem);
  transition: 0.5s;
}
#allButton:hover .button:not(:hover) {
  transition: 0.8s;
  transform: scale(0.6);
  transform-origin: 3rem;
  opacity: 0.2;
}
.button1:hover {
  transform: scale(1.2) translateY(-1rem);
  transition: 0.5s;
}
.card-container:hover .card:not(:hover) {
  transition: 0.8s;
  transform: scale(0.6);
  transform-origin: 3rem;
  opacity: 0.2;
}
