@import "variable.css";
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

html,
body,
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body{
  background-color: var(--royalPurple);
}
h1{
  font-size: var(--h1);
  text-align: center;
  font-family: cursive;
}
h2{
  font-family: ;
}
.button{
  height: var(--buttonHeight);
  width: var(--buttonWidth);
  font-size: ;
}
#allButton{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}
.card-container{
  margin-top: var(--containerMarginTop);
  display: flex;
  flex-wrap: wrap;
}
#lefamily{
  align-items: center;
  display: flex;
  justify-content: center;
}
.img{
  height: 80%;
  width: 80%;
  background-color: black;
  background-clip: padding-box;
  border: .1rem solid red;
  padding: 1rem;
  margin-bottom: 1rem;
}

